.tableAndDropDown{
    display:flex;
    flex-direction: row;
}
.cardsAndDropDown{
    display:flex;
}
.regionalHistoricChart{
    display: flex;
}
label{
    font-family: 'Source Code Pro', monospace;
}
@media screen and (max-width:800px){
    .tableAndDropDown{
        display: block;
    } 
    .cardsAndDropDown{
        display:block;
    } 
    .regionalHistoricChart{
        display: block;
    }
}